.full-screen {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(125, 125, 125, 0.85);
  margin-top: -244px;
  display: flex;
  justify-content: center;
}

.full-screen .close-btn {
  font-size: 4rem;
  position: absolute;
  top: 0;
  right: 2rem;
  cursor: pointer;
}

.full-screen .full-screen-img {
  padding: 3rem;
}

.full-screen button {
  background-color: transparent;
  border: none;
  outline: none;
  height: min-content;
  font-size: 5rem;
  position: absolute;
  cursor: pointer;
}

.full-screen .left-btn {
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}

.full-screen .right-btn {
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

@media screen and (max-width: 700px) {
  .full-screen {
    margin-top: -75%;
  }

  .full-screen .full-screen-img {
    padding: 5rem;
  }

  .full-screen .left-btn {
    left: 0.5rem;
  }

  .full-screen .right-btn {
    right: 0.5rem;
  }
}
