.about {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.about img {
  width: 32rem;
}

.about .text {
  width: 80%;
  padding: 3rem;
}

.about .text h3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.about .text p {
  padding: 1rem;
  line-height: 30px;
}
