.about {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.about img {
  width: 25rem;
}

.about .text {
  width: 60%;
  padding: 3rem;
}

.about .text h3 {
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.about .text p {
  font-size: 0.9rem;
  padding: 0.5rem;
  line-height: 30px;
}

@media screen and (max-width: 1200px) {
  .about {
    width: 100%;
    flex-direction: column;
  }

  .about img {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .about {
    flex-direction: column-reverse;
  }

  .about .text {
    padding-top: 0;
  }
}
